/* hero-section  */
    #heroart {
        height: 120px;
        left: 66px;
        top: -11px;
    }

        #workingimg {
        height: 119px;
        left: 175px;
        top: 188px;
    }
