/* hero-section  */
    #heroart {
        height: 130px;
        left: 116px;
        top: -11px;
    }

        .hero-section .btn {
        height: 28px;
        top: 7px;
        left: 80px;
        width: 79px;
    }

    /* about-section  */
        #workingimg {
        height: 160px;
        left: 180px;
        top: 188px;
    }
